In [1]:
# Import libraries

from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [2]:
# Connecting to website

URL = 'https://www.amazon.com/Data-MIS-Systems-Business-Analyst/dp/B0DKNCC7YQ/ref=sr_1_6?crid=1QEILCP0NKV42&dib=eyJ2IjoiMSJ9.xXYwngSGLSf5iP-gwAbl3ieSkEPabCwEYK_VdkyN1ctF_WjMTQy_iyGXhGhRENXeL0bbRkJ5joiDluqOTkvR7eLcf1Djz2FOK9TkPjiUn-mEeUxGfMd2F6aQ_schbbbTW-nVtzJAHzO2x4P4DxvtTkqGkbsg1Xr33XaxW3EouQqOBWxAJ-6uiqtuj8P74g9XvZO8-eQLYfOlx7Vf6LX_xHUuGzyGdZ_aSiEvcLs_XfA.4Mr8O5h5eGWx_ww5ASK7GL8V71W1kXvTcN9AzRjHDRQ&dib_tag=se&keywords=funny+data+systems+business+analyst&qid=1731445048&sprefix=funny+data+systems+business+analyst%2Caps%2C465&sr=8-6'

# headers can be accessed here (http://httpbin.org/get)
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",  "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")


title = soup2.find(id = "productTitle").get_text()
# title = soup2.select_one("#productTitle").get_text()

price = soup2.find('span', class_='aok-offscreen').get_text()
# price = soup2.select_one("#priceblock_ourprice")
# soup2.find("#priceblock_ourprice")
print(title, price)

                    Data Minded, Funny MIS Data Systems Business Analyst T-Shirt

                    $14.98

In [5]:
title = title.strip()
price = price.strip()[1:]

print(title)
print(price)

Data Minded, Funny MIS Data Systems Business Analyst T-Shirt
14.98

In [19]:
import datetime

today = datetime.date.today()

print(today)

2024-11-17

In [27]:
# Creating a csv and adding the csv 

import csv

header = ["Title", "Price", "Date"]
data = [title, price, today]

# with open("AmazonWebScaperDataset.csv", "w", newline = "", encoding = "UTF8") as f:
#     writer = csv.writer(f)
#     writer.writerow(header)
#     writer.writerow(data)

In [43]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Misha\Documents\5. Python\AmazonWebScaperDataset.csv")

df

                                               Title  Price        Date
0  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
1  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
2  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
3  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
4  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
5  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17

In [41]:
# Appding more rows of data

with open("AmazonWebScaperDataset.csv", "a+", newline = "", encoding = "UTF8") as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [57]:
# Wrapping the whole code into a function
def check_price():
    URL = 'https://www.amazon.com/Data-MIS-Systems-Business-Analyst/dp/B0DKNCC7YQ/ref=sr_1_6?crid=1QEILCP0NKV42&dib=eyJ2IjoiMSJ9.xXYwngSGLSf5iP-gwAbl3ieSkEPabCwEYK_VdkyN1ctF_WjMTQy_iyGXhGhRENXeL0bbRkJ5joiDluqOTkvR7eLcf1Djz2FOK9TkPjiUn-mEeUxGfMd2F6aQ_schbbbTW-nVtzJAHzO2x4P4DxvtTkqGkbsg1Xr33XaxW3EouQqOBWxAJ-6uiqtuj8P74g9XvZO8-eQLYfOlx7Vf6LX_xHUuGzyGdZ_aSiEvcLs_XfA.4Mr8O5h5eGWx_ww5ASK7GL8V71W1kXvTcN9AzRjHDRQ&dib_tag=se&keywords=funny+data+systems+business+analyst&qid=1731445048&sprefix=funny+data+systems+business+analyst%2Caps%2C465&sr=8-6'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",  "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    
    page = requests.get(URL, headers = headers)
    
    soup1 = BeautifulSoup(page.content, "html.parser")
    
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    
    title = soup2.find(id = "productTitle").get_text()
    
    price = soup2.find('span', class_='aok-offscreen').get_text()
    
    title = title.strip()
    price = price.strip()[1:]

    import datetime

    today = datetime.date.today()


    import csv

    header = ["Title", "Price", "Date"]
    data = [title, price, today]
    
    with open("AmazonWebScaperDataset.csv", "a+", newline = "", encoding = "UTF8") as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [53]:
# Using time lib to occasionally check the price change for the product
while(True):
    check_price()
    time.sleep(5)

KeyboardInterrupt:

In [55]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Misha\Documents\5. Python\AmazonWebScaperDataset.csv")

df

                                               Title  Price        Date
0  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
1  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
2  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
3  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
4  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
5  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
6  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17
7  Data Minded, Funny MIS Data Systems Business A...  14.98  2024-11-17